* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('images/bg2.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

#event-headline {
    font-size: 50px;
    text-align: center;
    background: none;
    margin-bottom: 0;
    margin-left: 70px;
    display:flex; align-items:center; gap:12px;
    height:auto; width:auto;
    padding-right: 640px;
}

#headline-wrap{
  display: flex;
  justify-content: center;  
  align-items: center;      
  gap: 12px;                
  margin-bottom: 0;         
  background: none;
}

#event-rogo{
  height: 300px; 
  width: auto;
  background: none;
}

#event-information {
    width: 2000px;
    margin-left: auto; margin-right: auto;
    padding-left: 640px;
    background: color #ffffff20;
    margin-bottom: 200px;
}

#event-deta-title {
    background: none;
    text-align: center;
    font-size: 40px;
}

#titletext {
  text-align:center;
  font-size: 35px;
  background: none;
  margin-bottom: 5px;
}

#event-deta-text {
    background: none;
    width: 850px;
    margin-left: auto; margin-right: auto;
    font-size: 30px;
}

.swiper-container {
  position: relative;
  background: none;
}

.swiper {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  position: static;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-container-wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* 各スライドの画像 */
.swiper-slide img {
  width: 100%;
  height: auto;
  border: 5px solid #72caea;
  border-radius: 10px;
  object-fit: cover;
}

:root {
  --swiper-navigation-sides-offset: 5px;
}
/*カーソルを合わせたらぼかす*/

.hover-blur {
  transition: 0.3s;
}

.hover-blur:hover {
  filter: blur(4px) brightness(0.7);;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
  pointer-events: none;
}

.swiper-slide:hover::after {
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: brightness(1.3)
}

/* ナビボタンを縦中央・横外側に配置 */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  transform: translateY(-50%);
}

.swiper-button-next {
  left: var(--swiper-navigation-sides-offset);
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset);
}
