* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  height: 500px;
  position: relative;
  top: 20px;
  display: block;
  margin: auto;
}

#subtitle {
  width: auto;
  height: 150px;
  line-height: 1.6;
  position: relative;
  top: -50px;
  display: block;
  margin: auto;
}

#event-headline {
  font-family: "Soft Gothic Bold", sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

#header-area {
  background-image: url('images/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* スライダー全体 */

.swiper-container {
  position: relative;
}

.swiper {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  position: static;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-container-wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* 各スライドの画像 */
.swiper-slide img {
  width: 100%;
  height: auto;
  border: 5px solid #72caea;
  border-radius: 10px;
  object-fit: cover;
}

:root {
  --swiper-navigation-sides-offset: 5px;
}
/*カーソルを合わせたらぼかす*/

.hover-blur {
  transition: 0.3s;
}

.hover-blur:hover {
  filter: blur(4px) brightness(0.7);;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.3s;
  pointer-events: none;
}

.swiper-slide:hover::after {
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: brightness(1.3)
}

/* ナビボタンを縦中央・横外側に配置 */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  transform: translateY(-50%);
}

.swiper-button-next {
  left: var(--swiper-navigation-sides-offset);
}

.swiper-button-prev {
  left: var(--swiper-navigation-sides-offset);
}

#eventinformationarea {
  background-image: url('images/bg2.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
}

#event-maineventheadline {
  font-family: "Soft Gothic Bold", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

#venuemap_img {
  text-align: center;
  margin-bottom: 100px;
  width:70%;
}

#venuemap_div {
  text-align:center;
}


.air {
  background-color: #ffffff;
}
.open {
  background-color: #ffbdbd;
}
.changingroom{
  background-color: #ffe9b0;
}
.OP{
  background-color: #ff6363;
}
.firstaidroom{
  background-color: #ffc2c2;
}
.introquiz{
  background-color: #f6a7ff;
}
.gametournament{
  background-color: #8676ff;
}
.tensecondchallenge{
  background-color: #ff769f;
}
.eatinganddrinking{
  background-color: #99ffa3;
}
.sale{
  background-color: #6cff7a;
}
.Thatwastherightanswerfromthemorning{
  background-color: #91e5ff;
}
.lunchbreak{
  background-color: #99ffa3;
}
.performance{
  background-color: #f2ff8b;
}
.susida{
  background-color: #76bcfa;
}
.restspace{
  background-color: #65ffaf;
}
.ennnitiou{
  background-color: #ff7142;
}
.tavsmennta{
  background-color: #ff659d;
}
.ED{
  background-color: #ff6363;
}
.refund{
  background-color: #ffbdbd;
}
#shoplogo {
  height: 400px;
  position: relative;
  top: 20px;
  display: block;
  margin: auto;
}

#foodlogo {
  height: 400px;
  position: relative;
  top: 20px;
  display: block;
  margin: auto;
}